<ul class="nav nav-pills">
  <li class="active">
    <a href="#active_contract" data-toggle="tab">现任合同</a>
  </li>
  <li>
    <a href="#history_contracts" data-toggle="tab">历史合同</a>
  </li>
</ul>
<div class="tab-content">
  <div id="active_contract" class="tab-pane active">
    现任合同
  </div>
  <div id="history_contracts" class="tab-pane">
    历史合同
  </div>
</div>
