<ul class="nav nav-pills">
  <li class="active">
    <a href="#content" data-toggle="tab">培训内容</a>
  </li>
  <li>
    <a href="#certificate" data-toggle="tab">所获证书</a>
  </li>
</ul>
<div class="tab-content">
  <div id="content" class="tab-pane active">
    培训起止时间，机构，培训内容
  </div>
  <div id="certificate" class="tab-pane">
    培训所获证书
  </div>
</div>
