<ul class="nav nav-pills">
  <li class="active">
    <a href="#active_work" data-toggle="tab">现承担工程</a>
  </li>
  <li>
    <a href="#history_works" data-toggle="tab">历史工程记录</a>
  </li>
</ul>
<div class="tab-content">
  <div id="active_work" class="tab-pane active">
    现承担的工程及岗位
  </div>
  <div id="history_works" class="tab-pane">
    已完结的工作记录
  </div>
</div>
